
.imageSelector {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  z-index: 999;

  display: grid;
  box-sizing: border-box;
  padding: 50px;

  grid-template-columns: repeat(3, calc(100vw / 4));
  grid-auto-rows: min-content;
  justify-content: space-evenly;
  align-content: space-evenly;

  background: url('../assets/bg.jpg') 0 0 repeat;

  opacity: 1;
  transition: opacity 500ms linear 0s, visibility 0s linear 0s;
}

.imageSelector--hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms linear 0s, visibility 0s linear 300ms;
}

.imageSelector__item, .imageSelector__item-image, .imageSelector__item-caption {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 none;
  width: 100%;
}

.imageSelector__item {
  cursor: pointer;
  position: relative;
  border: 3px solid rgba(255,255,255,0.4);
  padding: 15px;
}

.imageSelector__item-image {
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  background: #ccc;
  background-size: cover;
}

.imageSelector__item-caption {
  padding-top: 10px;
  color: rgb(0 0 0 / .92);
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
}

.puzzle-header {
  font-size: 48px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5000;
}

.puzzle-image-title {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  z-index: 5000;
}