html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #333;
    overflow: hidden;
}

.html5-puzzle {
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /********************/
    /* board background */
    /********************/
    border: 1px solid #aaa;
}

.html5-puzzle div,
.html5-puzzle ul,
.html5-puzzle li,
.html5-puzzle canvas { margin: 0; padding: 0; }

.hide { display: none; }

.clear { clear: both; }

/*== Jigsaw puzzle ==*/
div#canvas-wrap {
    width: 100%;
    height: 100%;
    background: #333;
}

canvas#canvas, canvas#buffer, canvas#image-preview {
    position: absolute;
    top: 0;
    left: 0;
}

canvas#canvas { z-index: 100; }

/*.loading  #canvas-wrap { background: url(../images/loader.gif) no-repeat center; }*/
.loading  canvas { visibility: hidden; }

canvas#buffer { z-index: 70; }

canvas#image-preview.show {
    left: 50%;
    opacity: .5;
    z-index: 1000;
    pointer-events: none;
}


/*== Modal window ==*/

div#congrat { text-align: center; }

